version: 2.1

orbs:
  cypress: cypress-io/cypress@1.19.1

executors:
  cypress-node12-chrome77:
    docker:
      - image: 'cypress/browsers:node12.6.0-chrome77'

jobs:
  validate:
    executor: cypress-node12-chrome77
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn validate
  release:
    executor: cypress-node12-chrome77
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn semantic-release

workflows:
  build:
    jobs:
      - cypress/run:
          yarn: true
          executor: cypress-node12-chrome77
          browser: chrome
          start: yarn serve
          wait-on: '--timeout 60000 http://localhost:8000'
      - validate:
          requires:
            - cypress/run
      - release:
          requires:
            - validate
          filters:
            branches:
              only: master
