version: 2.1

orbs:
  cypress: cypress-io/cypress@1.28.0

jobs:
  validate:
    executor: cypress/browsers-chrome78-ff70
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn validate
  release:
    executor: cypress/browsers-chrome78-ff70
    steps:
      - attach_workspace:
          at: ~/
      - run: yarn semantic-release

workflows:
  build:
    jobs:
      - cypress/run:
          yarn: true
          executor: cypress/browsers-chrome78-ff70
          browser: chrome
          start: yarn serve
          wait-on: '--timeout 90000 http://localhost:8000'
      - validate:
          requires:
            - cypress/run
      - release:
          context:
            - release
          requires:
            - validate
          filters:
            branches:
              only: master
